<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<h2>hungrycats dashboard</h1>
  
<div class='container'>
      
  <h3>no full cats allowed</h3>
</div>
