<%= link_to "food/feed", :remote => true, :method => "post" do %>
  <div id='feed_button'>
    <h1>FEED THE CATS</h1>
  <div>
<% end %>

<div id="done_message"></div>

<div id="feeding_loader">
  <h1>Feeding cats...</h1>
  <div id='heart'></div>
</div>

<div id='remaining_container'>
  <h1>Remaining food:</h1>
  <div id='remaining'></div>
</div>
