<div class='row'>
  remaining food on agent <%=agent_name%> (<%=ip%>):
  <div id="remaining">
    <div class="anchor" style="width: <%= remaining_food %>%">
      <% if 100 < 30 %>
        <span class="inner lowfood"></span>
      <% else %>
        <span class="inner"></span>
      <% end %>
    </div>
  </div>
</div>
