// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* forms */
body {
  font-family: Montserrat;
}

h1 {
  color: white;
}

.container {
  text-align: center;
}

form {
  width: 60%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

input {
  width: 100%;
  color: black;
  border: 1px solid #fff;
  margin-bottom: 1em;
  display: block;
  font-size: 32px;
  border-radius: 18px;
  text-indent: 10px;
}

input[type=submit] {
  border: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  color: white;
}

#error_explanation {
  color: white;
}

#error_explanation ul {
  list-style-type: none;
}

.alert {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: black;
  color: white;
  opacity: 70%;
  border-radius: 20px;
  text-align: center;
  font-size: 18px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
}
