<div id='navbar-wrapper'>
  <ul class='navbar'>
    <li class='nav_title'>
      <a href='/dashboard'>hungrycats</a>
    </li>
    
    <li>
      <a href='/dashboard'>Dashboard</a>
    </li>
    
    <li>
      <a href='/control'>Meal Control</a>
    </li>
    
    <li>
      <a href='/schedules'>Schedules</a>
    </li>
    
    <li>
      <a href='/live'>Live Feed</a>
    </li>
    
    <li>
      <%= link_to 'log out', logout_path, :method => :delete %>
    </li>
  </ul>
</div>
